{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Redefinir minha Senha" %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Nota" %}</span>: {% blocktrans %}você está logado como {{ user }}.{% endblocktrans %}</p>
    {% endif %}
    
    <p>{% trans "Esqueceu a sua senha? Entre com seu email cadastrado para redefinir a sua senha." %}</p>
    
    <form method="POST" action="" class="uniForm">{% csrf_token %}
        <fieldset class="inlineLabels">
            {{ password_reset_form|as_uni_form }}
             <div class = "form_blick">
                 <input type="submit" value="{% trans "Enviar" %}" />
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
