{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form %}
{% block head_title %}{% trans "Alterar Senha" %}{% endblock %}

{% block content %}
    <div class="main_form">
        
            <form method="POST" action="" class="uniForm">{% csrf_token %}
                <fieldset>
                    {{ password_change_form|as_uni_form }}
                     <div class="form_blick">
                         <input type="submit" name="action" class="submit" value="{% trans "Alterar Senha" %}"/>
                    </div>
                </fieldset>
            </form>
        
    </div>
{% endblock %}